
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{height:100%;}
.container{
	min-height:100%;
	display:flex;
	flex-direction:column;
}
body{
	background-color:#F8F9F9;
}
/*-----------------------------------*/

.head{
	position: fixed;
	top: 0;
	height:150px;
	background-color: #3F3A6F;
	width:100%;
	z-index: 10;
	-webkit-box-shadow: -1px 17px 78px 9px rgba(4, 1, 26, 0.25);
	-moz-box-shadow: -1px 17px 78px 9px rgba(4, 1, 26, 0.25);
	box-shadow: -1px 17px 78px 9px rgba(4, 1, 26, 0.25);
	overflow: hidden;
}
.bottom_of_head{
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;

}

.name_of_club img{
	width: 100%;
}
.name_of_club{
	width: 300px;
	text-align: center;
	margin-top: 30px;
	margin-right: 50px;
}
.button_links{
	margin-top: 17px;
	color:#26002C;
	transition-duration: 0.3s;
	width:120px;
	height:120px;
	border-radius: 25px;
	margin-left: 20px;
	font-size:75px;
	font-family: monospace;
	font-weight: bold;
	background-color: white;
	-webkit-box-shadow: 0px 0px 44px 10px rgba(32, 39, 135, 0.2);
	-moz-box-shadow: 0px 0px 44px 10px rgba(32, 39, 135, 0.2);
	box-shadow: 0px 0px 44px 10px rgba(32, 39, 135, 0.2);
	
}
.button_links:active{
	transition-duration: 0.3s;
	color:white;
	background-color:#26002C;
	-webkit-box-shadow: 0px 0px 44px 16px rgba(5, 9, 58, 0.63);
	-moz-box-shadow: 0px 0px 44px 16px rgba(5, 9, 58, 0.63);
	box-shadow: 0px 0px 44px 16px rgba(5, 9, 58, 0.63);
}
.list_of_links{
	margin-top: 0px;
	z-index:10;
	transition-duration: 0.2s;
	position:fixed;
	width:100%;
	height:5px;
	background-color: #3F3A6F;
	overflow: hidden;

}

#one_of_list{
	transition-duration: 0.3s;
	margin-top: 70px;
	color:#A39CD8;
	background-color:white;
	border-radius: 25px;
	font-size:70px;
	font-family:monospace;
	display:block;
	text-align:center;
	font-weight:bold;
	padding-top:25px;
	padding-bottom:25px;
	margin-right:10%;
	margin-left:10%;
}
#one_of_list:active{
	transition-duration: 0.3s;
	color:white;
	background-color:#A39CD8;
	-webkit-box-shadow: 0px 0px 26px 19px rgba(9, 0, 92, 0.25);
	-moz-box-shadow: 0px 0px 26px 19px rgba(9, 0, 92, 0.25);
	box-shadow: 0px 0px 26px 19px rgba(9, 0, 92, 0.25);
}
.disable{
	pointer-events: none;
	transition-duration: 0.3s;
	margin-top: 70px;
	color:#4a475e;
	background-color:rgb(161, 161, 161);
	border-radius: 25px;
	font-size:70px;
	font-family:monospace;
	display:block;
	text-align:center;
	font-weight:bold;
	padding-top:25px;
	padding-bottom:25px;
	margin-right:10%;
	margin-left:10%;
}
.list_of_links ul :first-child #one_of_list{
		margin-top:75px;
}
.list_of_links ul :last-child #one_of_list{
		margin-bottom:150px;
}

/*-----------------------------------*/
.name_of_page{
	font-size:80px;
	font-family: monospace;
	font-weight:bold;
	text-align: center;
	margin-top:7%;
	color:black;
}
.content{
	margin-left:30px;
	margin-right:30px;
	flex: 1 1 auto;
}

.video #el1{
	width:100%;
	height:100%;
	border-radius: 100px;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 100px -11px rgba(0, 0, 0, 0.27);
	-moz-box-shadow: 0px 0px 100px -11px rgba(0, 0, 0, 0.27);
	box-shadow: 0px 0px 100px -11px rgba(0, 0, 0, 0.27);
	border: 10px solid white;
	margin-top:75px;
}
.video #el1 video {
	width:100%;
	
}
video{
	z-index: -1;
}
.video{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-around;
}

.podval{
	z-index:-1;
	margin-top:10%;
	background-color: #3F3A6F;
	height: 200px;
	-webkit-box-shadow: 0px -22px 100px -13px rgba(0, 0, 0, 0.27);
	-moz-box-shadow: 0px -22px 100px -13px rgba(0, 0, 0, 0.27);
	box-shadow: 0px -22px 100px -13px rgba(0, 0, 0, 0.27);
}
.transition{
	padding-top: 70px;
	display: flex;
	justify-content: space-between;
}
.dot{
	font-size:90px;
	color:white;
}

#past a{
	transition-duration: 0.3s;
	background-color: white;
	padding:20px;
	font-family:monospace;
	font-size:70px;
	color:#26002C;
	border-radius:25px;
	margin-left: 50px;
}

#future a{
	transition-duration: 0.3s;
	background-color: white;
	padding:20px;
	font-family:monospace;
	font-size: 70px;
	color:#26002C;
	border-radius:25px;
	margin-right: 50px;
}

#future:hover  a{
	transition-duration: 0.3s;
	color:white;
	background-color: #26002C;
	-webkit-box-shadow: 0px 0px 30px 19px rgba(20, 0, 73, 0.28);
	-moz-box-shadow: 0px 0px 30px 19px rgba(20, 0, 73, 0.28);
	box-shadow: 0px 0px 30px 19px rgba(20, 0, 73, 0.28);
}

#past:hover a{
	transition-duration: 0.3s;
	color:white;
	background-color: #26002C;
	-webkit-box-shadow: 0px 0px 30px 19px rgba(20, 0, 73, 0.28);
	-moz-box-shadow: 0px 0px 30px 19px rgba(20, 0, 73, 0.28);
	box-shadow: 0px 0px 30px 19px rgba(20, 0, 73, 0.28);
}


/* Telegam bot */
.QRcode{
	border-radius: 100px;
	margin-top: 75px;
	text-align: center;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	border: 10px solid white;
}

.QRcode img{
	width: 100%;
}

/* Our Games */
.gamesblock{
	margin-top:150px;
	margin-right:3%;
	margin-left:3%;
	background-color: rgb(240,240,252);
	border: 15px solid white;
	-webkit-box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	border-radius: 100px;
	overflow: hidden;
}
.gamesblock #image_of_game {
		border-right:30px solid white;
		width: 50%;
		float:left;
}
.gamesblock #image_of_game img{
		width:100%;
}
.text_of_game #name_of_game{
		font-size:80px;
		font-family:monospace;
		font-weight:bold;
}

.text_of_game #link_on_game{
		font-size:75px;
		font-family:monospace;
		font-weight:bold;
}

.gamesblock #link_on_game a{
		color: rgb(148,228,211);
}

/*statistic*/
.diagrams{
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.diagram{
	margin-top:75px;
}
#canvasF{
	height:500px;
	width:500px;
}
#canvasTB{
	height:500px;
	width:500px;
}
.harac ul{
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.harac{
	margin-top: 75px;
	font-size: 60px;
	font-family: monospace;
	font-weight: bold;
}
#elH1{
	margin-top: 25px;
	background-color: rgb(186,226,225);
	border:10px solid rgb(93,192,191);
	border-radius: 25px;
	padding: 10px;
	color:white;
}
#elH2{
	margin-top: 25px;
	background-color: rgb(249,204,214);
	border:10px solid rgb(248,136,163);
	border-radius: 25px;
	padding: 10px;
	color:white;

}
#elH3{
	margin-top: 25px;
	background-color: rgb(197,223,243);
	border:10px solid rgb(119,185,234);
	border-radius: 25px;
	padding: 10px;
	color:white;
}

.descF{
	margin-top: 50px;
	background-color: #A39CD8;
	font-size: 50px;
	font-family: monospace;
	padding:30px;
	border-radius: 50px;
	-webkit-box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
}
.descF :last-child{
	margin-top: 20px;
}
.descF p{
	color:white;
}
#gF a{
	color:rgb(103,56,179);
	font-weight: bold;
}

#tB a{
	color:rgb(103,56,179);
	font-weight: bold;
}
#tB:hover{
	text-decoration: underline;
}
#gF:hover{
	text-decoration: underline;
}
/* AboutUs */
.info_about_us{
	border-radius: 50px;
	margin-top: 75px;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color:#A39CD8;
	-webkit-box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	padding:30px;
	font-size: 50px;
}
.info_about_us #ph{
	margin-top: 10px;
	padding: 10px;
	color:white;
}
.We{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}

.WeAre{
	margin-top:50px;
	height:180px;
	width: 400px;
	overflow:hidden;
	background-color:white;
	display: flex;
	justify-content: space-between;
	-webkit-box-shadow: 0px 0px 100px -23px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 100px -23px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 100px -23px rgba(0, 0, 0, 0.3);
	border-radius: 50px;
	
}
#fotoW img{
	width: 100%; height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	object-position: center;
}
#fotoW{
	background-color:white;
	width:100%;
	overflow: hidden;
}
#nameW{
	font-size: 40px;
	margin:20px;
}
#nameW a{
	color:#A39CD8;
	font-family: monospace;
}
#nameW a:hover{
	text-decoration: underline;
}
/* Documentation */
.program{
	padding: 20px;
	margin-top:75px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	overflow: hidden;
	background-color:white;
	border-radius: 50px;
	-webkit-box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	border: 20px solid white;
}

#name_of_program{
	text-align: center;
	
}
#name_of_program h1{
	font-size: 70px;
	color:#272F56;
	font-weight: bold;
	padding-bottom: 25px;
}
#description_of_program{
	font-size: 50px;
	margin-top: 60px;
	padding:25px;
	color:white;
	background-color:#A39CD5;
	border-radius: 50px;
	-webkit-box-shadow: 0px 0px 100px -23px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 100px -23px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 100px -23px rgba(0, 0, 0, 0.3);
}
#image_of_program{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}
#image_of_program img{
	width:300px;
}
.links_on_program{
	margin-top: 80px;
	margin-bottom: 40px;
	display:flex;
	justify-content: space-around;
}
 #linkp a{
	transition-duration: 0.3s;
	font-size: 50px;
	padding: 10px;
	color:#EC345F;
	border-radius: 25px;
	background-color:white;
	border: 7px solid #EC345F;
}

 #linkp a:hover {
	transition-duration: 0.3s;
	color:white;
	background-color:#EC345F;
	-webkit-box-shadow: 0px 0px 100px -11px rgba(236, 52, 95, 0.27);
	-moz-box-shadow: 0px 0px 100px -11px rgba(236, 52, 95, 0.27);
	box-shadow: 0px 0px 100px -11px rgba(236, 52, 95, 0.27);
	border:none;
}

.doc{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.list_of_links_screen{
	display:none;
}

/*media*/
@media screen and (min-width: 1024px){
	.name_of_page{
		font-size:40px;
		margin-top: 10px;
	}

	/*AboutUs*/
	.info_about_us{
		font-size: 20px;
		border-radius: 25px;
		padding:10px;
	}
	.info_about_us #ph{
		margin-top: 5px;
		padding: 5px;
	}
	.We{
		justify-content: space-around;
	}
	.WeAre{
		height:100px;
		width: 250px;
		border-radius: 10px;
	}
	#nameW{
		font-size: 20px;
		margin:20px;
	}

	/*OurWorks*/
	.video #el1 {
		width:20%;
		border-radius: 25px;
		border: 5px solid white;
	}
	/*Statistics*/
	.descF :last-child{
		margin-top: 10px;
	}
	#elH1{
		border-width: 5px;
		margin-top: 40px;
		border-radius: 20px;
		padding: 10px;
		color:white;
	}
	#elH2{
		border-width: 5px;
		margin-top: 40px;
		border-radius: 20px;
		padding: 10px;
		color:white;
	
	}
	#elH3{
		border-width: 5px;
		margin-top: 40px;
		border-radius: 20px;
		padding: 10px;
		color:white;
	}
	
	#canvasF{
		height:400px;
		width:400px;
	}
	#canvasTB{
		height:400px;
		width:400px;
	}
	.harac{
		font-size: 20px;
	}
	.descF{
		padding:15px;
		font-size: 20px;
		border-radius: 25px;
	}
	/*Documentation*/
	.program{
		border-radius:25px;
		padding: 15px;
		border: 7px solid white;
		width: 400px;
	}
	#name_of_program h1{
		font-size: 30px;
		padding-bottom: 5px;
	}
	#description_of_program{
		font-size: 140%;
		margin-top: 30px;
		border-radius: 25px;
	}
	#image_of_program{
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	#image_of_program img{
		width:150px;
	}
	.links_on_program{
		margin-top: 40px;
		margin-bottom: 20px;
		display:flex;
		justify-content: space-around;
	}
	 #linkp a{
		transition-duration: 0.3s;
		font-size: 25px;
		color:#EC345F;
		border-radius: 10px;
		padding:1px;
		background-color:white;
		border: 3px solid #EC345F;
	}
	/*Telegram Bot*/
	.QRcode{
		overflow: visible;
		border: none;
		border-radius: 0px;
		background: none;
		box-shadow: none;
	}
	
	.QRcode img{
		width: 40%;
		border: 5px solid white;
		-webkit-box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
		-moz-box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
		box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
		border-radius: 25px;
	}
	/***********************************/
	.podval{
		height: 100px;
		margin-top: 40px;
	}
	#past a{
		padding:15px;
		font-size:30px;
		border-radius:10px;
		margin-left: 25px;
	}
	
	#future a{
		padding:15px;
		font-size:30px;
		border-radius:10px;
		margin-left: 25px;
	}
	.dot{
		font-size:60px;
	}
	.transition{
		padding-top: 35px;
	}
	/******************top*/
	.head{
		height:60px;
	}
	.name_of_club{
		width: 120px;
		margin-top: 12px;
	}
	.button_links{
		display:none;
	}
	.list_of_links{
		display:none;
	}
	.list_of_links_screen{
		display:flex;
		justify-content:space-around;
		margin-top: 25px;
	}
	.list_of_links_screen div{
		margin-left: 30px;
	}
	#one_of_list_screen{
		transition-duration: 0.3s;
		color: white;
		font-family: monospace;
		font-size: 17px;
	}
	.disable_screen{
		color:rgb(161, 161, 161);
		font-family: monospace;
		font-size: 17px;
		pointer-events: none;
	}
	#screen_b{
		border-left: 3px solid white;
		padding-left: 5px;
	}
	#screen_b  a:hover {
		transition-duration: 0.3s;
		border-radius: 10px;
		text-decoration: underline;
	}
	.content{
		margin-left:50px;
		margin-right:50px;

	}
}
@media screen and (min-width: 1600px){
	.name_of_page{
		font-size:40px;
		margin-top: 10px;
	}

	/*AboutUs*/
	.info_about_us{
		font-size: 20px;
		border-radius: 25px;
		padding:10px;
	}
	.info_about_us #ph{
		margin-top: 5px;
		padding: 5px;
	}
	.We{
		justify-content: space-around;
	}
	.WeAre{
		height:100px;
		width: 250px;
		border-radius: 10px;
	}
	#nameW{
		font-size: 20px;
		margin:20px;
	}

	/*OurWorks*/
	.video #el1 {
		width:20%;
		border-radius: 25px;
		border: 5px solid white;
	}
	/*Statistics*/
	.descF :last-child{
		margin-top: 10px;
	}
	#elH1{
		border-width: 5px;
		margin-top: 40px;
		border-radius: 20px;
		padding: 10px;
		color:white;
	}
	#elH2{
		border-width: 5px;
		margin-top: 40px;
		border-radius: 20px;
		padding: 10px;
		color:white;
	
	}
	#elH3{
		border-width: 5px;
		margin-top: 40px;
		border-radius: 20px;
		padding: 10px;
		color:white;
	}
	
	#canvasF{
		height:400px;
		width:400px;
	}
	#canvasTB{
		height:400px;
		width:400px;
	}
	.harac{
		font-size: 20px;
	}
	.descF{
		padding:15px;
		font-size: 20px;
		border-radius: 25px;
	}
	/*Documentation*/
	.program{
		border-radius:25px;
		padding: 15px;
		border: 7px solid white;
		width: 400px;
	}
	#name_of_program h1{
		font-size: 30px;
		padding-bottom: 5px;
	}
	#description_of_program{
		font-size: 140%;
		margin-top: 30px;
		border-radius: 25px;
	}
	#image_of_program{
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	#image_of_program img{
		width:150px;
	}
	.links_on_program{
		margin-top: 40px;
		margin-bottom: 20px;
		display:flex;
		justify-content: space-around;
	}
	 #linkp a{
		transition-duration: 0.3s;
		font-size: 25px;
		color:#EC345F;
		border-radius: 10px;
		padding:1px;
		background-color:white;
		border: 3px solid #EC345F;
	}
	/*Telegram Bot*/
	.QRcode{
		overflow: visible;
		border: none;
		border-radius: 0px;
		background: none;
		box-shadow: none;
	}
	
	.QRcode img{
		width: 20%;
		border: 5px solid white;
		-webkit-box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
		-moz-box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
		box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
		border-radius: 25px;
	}
	/***********************************/
	.podval{
		height: 100px;
		margin-top: 40px;
	}
	#past a{
		padding:15px;
		font-size:30px;
		border-radius:10px;
		margin-left: 25px;
	}
	
	#future a{
		padding:15px;
		font-size:30px;
		border-radius:10px;
		margin-left: 25px;
	}
	.dot{
		font-size:60px;
	}
	.transition{
		padding-top: 35px;
	}
	/******************top*/
	.head{
		height:60px;
	}
	.name_of_club{
		width: 150px;
		margin-top: 7px;
	}
	.button_links{
		display:none;
	}
	.list_of_links{
		display:none;
	}
	.list_of_links_screen{
		display:flex;
		justify-content:space-around;
		margin-top: 20px;
	}
	.list_of_links_screen div{
		margin-left: 30px;
	}
	#one_of_list_screen{
		transition-duration: 0.3s;
		color: white;
		font-family: monospace;
		font-size: 20px;
	}
	.disable_screen{
		color:rgb(161, 161, 161);
		font-family: monospace;
		font-size: 20px;
		pointer-events: none;
	}
	#screen_b{
		border-left: 5px solid white;
		padding-left: 5px;
	}
	#screen_b  a:hover {
		transition-duration: 0.3s;
		border-radius: 10px;
		text-decoration: underline;
	}
	.content{
		margin-left:50px;
		margin-right:50px;

	}
}