
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{height:100%;}
.container{
	min-height:100%;
	display:flex;
	flex-direction:column;
}
body{
	background-color:#F8F9F9;
}
/*-----------------------------------*/

.head{
	position: fixed;
	top: 0;
	height:200px;
	background-color: #3F3A6F;
	width:100%;
	z-index: 10;
	-webkit-box-shadow: -1px 17px 78px 9px rgba(4, 1, 26, 0.25);
	-moz-box-shadow: -1px 17px 78px 9px rgba(4, 1, 26, 0.25);
	box-shadow: -1px 17px 78px 9px rgba(4, 1, 26, 0.25);
	overflow: hidden;
}
.bottom_of_head{
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;

}

.name_of_club img{
	width: 100%;
}
.name_of_club{
	width: 400px;
	text-align: center;
	margin-top: 45px;
	margin-right: 50px;
}
.button_links{
	margin-top: 26px;
	color:#26002C;
	transition-duration: 0.3s;
	width:150px;
	height:150px;
	border-radius: 25px;
	margin-left: 50px;
	font-size:75px;
	font-family: monospace;
	font-weight: bold;
	background-color: white;
	-webkit-box-shadow: 0px 0px 44px 10px rgba(32, 39, 135, 0.2);
	-moz-box-shadow: 0px 0px 44px 10px rgba(32, 39, 135, 0.2);
	box-shadow: 0px 0px 44px 10px rgba(32, 39, 135, 0.2);
	
}
.button_links:hover{
	transition-duration: 0.3s;
	color:white;
	background-color:#26002C;
	-webkit-box-shadow: 0px 0px 44px 16px rgba(5, 9, 58, 0.63);
	-moz-box-shadow: 0px 0px 44px 16px rgba(5, 9, 58, 0.63);
	box-shadow: 0px 0px 44px 16px rgba(5, 9, 58, 0.63);
}
.list_of_links{
	z-index:10;
	transition-duration: 0.2s;
	position:fixed;
	width:100%;
	height:5px;
	background-color: #3F3A6F;
	overflow: hidden;

}

#one_of_list{
	transition-duration: 0.3s;
	margin-top: 100px;
	color:#A39CD8;
	background-color:white;
	border-radius: 50px;
	font-size:100px;
	font-family:monospace;
	display:block;
	text-align:center;
	font-weight:bold;
	padding-top:50px;
	padding-bottom:50px;
	margin-right:5%;
	margin-left:5%;
}
#one_of_list:hover{
	transition-duration: 0.3s;
	color:white;
	background-color:#A39CD8;
	-webkit-box-shadow: 0px 0px 26px 19px rgba(9, 0, 92, 0.25);
	-moz-box-shadow: 0px 0px 26px 19px rgba(9, 0, 92, 0.25);
	box-shadow: 0px 0px 26px 19px rgba(9, 0, 92, 0.25);
}
.disable{
	pointer-events: none;
	transition-duration: 0.3s;
	margin-top: 100px;
	color:#4a475e;
	background-color:rgb(161, 161, 161);
	border-radius: 50px;
	font-size:100px;
	font-family:monospace;
	display:block;
	text-align:center;
	font-weight:bold;
	padding-top:50px;
	padding-bottom:50px;
	margin-right:5%;
	margin-left:5%;
}
.list_of_links ul :first-child #one_of_list{
		margin-top:75px;
}
.list_of_links ul :last-child #one_of_list{
		margin-bottom:150px;
}

/*-----------------------------------*/
.name_of_page{
	font-size:800%;
	font-family: monospace;
	font-weight:bold;
	text-align: center;
	margin-top:7%;
	color:black;
}
.content{
	margin-left:6%;
	margin-right:6%;
	flex: 1 1 auto;
}

.video #el1{
	width:100%;
	height:100%;
	border-radius: 100px;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 100px -11px rgba(0, 0, 0, 0.27);
	-moz-box-shadow: 0px 0px 100px -11px rgba(0, 0, 0, 0.27);
	box-shadow: 0px 0px 100px -11px rgba(0, 0, 0, 0.27);
	border: 20px solid white;
	margin-top:75px;
}
.video #el1 video {
	width:100%;
	
}
video{
	z-index: -1;
}
.video{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-around;
}

.podval{
	z-index:-1;
	margin-top:10%;
	background-color: #3F3A6F;
	height: 300px;
	-webkit-box-shadow: 0px -22px 100px -13px rgba(0, 0, 0, 0.27);
	-moz-box-shadow: 0px -22px 100px -13px rgba(0, 0, 0, 0.27);
	box-shadow: 0px -22px 100px -13px rgba(0, 0, 0, 0.27);
}
.transition{
	padding-top: 100px;
	display: flex;
	justify-content: space-between;
}
.dot{
	font-size:140px;
	color:white;
}

#past a{
	transition-duration: 0.3s;
	background-color: white;
	padding:20px;
	font-family:monospace;
	font-size:90px;
	color:#26002C;
	border-radius:25px;
	margin-left: 50px;
}

#future a{
	transition-duration: 0.3s;
	background-color: white;
	padding:20px;
	font-family:monospace;
	font-size: 90px;
	color:#26002C;
	border-radius:25px;
	margin-right: 50px;
}

#future:hover  a{
	transition-duration: 0.3s;
	color:white;
	background-color: #26002C;
	-webkit-box-shadow: 0px 0px 30px 19px rgba(20, 0, 73, 0.28);
	-moz-box-shadow: 0px 0px 30px 19px rgba(20, 0, 73, 0.28);
	box-shadow: 0px 0px 30px 19px rgba(20, 0, 73, 0.28);
}

#past:hover a{
	transition-duration: 0.3s;
	color:white;
	background-color: #26002C;
	-webkit-box-shadow: 0px 0px 30px 19px rgba(20, 0, 73, 0.28);
	-moz-box-shadow: 0px 0px 30px 19px rgba(20, 0, 73, 0.28);
	box-shadow: 0px 0px 30px 19px rgba(20, 0, 73, 0.28);
}


/* Telegam bot */
.QRcode{
	border-radius: 100px;
	margin-top: 75px;
	text-align:center;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	border: 20px solid white;
}

.QRcode img{
	width: 100%;
}

/* Our Games */
.gamesblock{
	margin-top:150px;
	margin-right:3%;
	margin-left:3%;
	background-color: rgb(240,240,252);
	border: 15px solid white;
	-webkit-box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	border-radius: 100px;
	overflow: hidden;
}
.gamesblock #image_of_game {
		border-right:30px solid white;
		width: 50%;
		float:left;
}
.gamesblock #image_of_game img{
		width:100%;
}
.text_of_game #name_of_game{
		font-size:80px;
		font-family:monospace;
		font-weight:bold;
}

.text_of_game #link_on_game{
		font-size:75px;
		font-family:monospace;
		font-weight:bold;
}

.gamesblock #link_on_game a{
		color: rgb(148,228,211);
}

/*statistic*/
.diagrams{
	display:flex;
	width:50%;
}

/* AboutUs */
.info_about_us{
	border-radius: 50px;
	margin-top: 75px;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color:#A39CD8;
	-webkit-box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	padding:30px;
	font-size: 70px;
}
.info_about_us #ph{
	margin-top: 10px;
	padding: 10px;
	color:white;
}
.We{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}

.WeAre{
	margin-top:50px;
	height:270px;
	width: 590px;
	overflow:hidden;
	background-color:white;
	display: flex;
	justify-content: space-between;
	-webkit-box-shadow: 0px 0px 100px -23px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 100px -23px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 100px -23px rgba(0, 0, 0, 0.3);
	border-radius: 50px;
	
}
#fotoW img{
	width: 100%; height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	object-position: center;
}
#fotoW{
	background-color:white;
	width:100%;
	overflow: hidden;
}
#nameW{
	font-size: 50px;
	margin:40px;
}
#nameW a{
	color:#A39CD8;
	font-family: monospace;
}
/* Documentation */
.program{
	padding: 50px;
	margin-top:75px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	overflow: hidden;
	background-color:white;
	border-radius: 50px;
	-webkit-box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 0px 30px 9px rgba(34, 60, 80, 0.2);
	border: 20px solid white;
}

#name_of_program{
	text-align: center;
	
}
#name_of_program h1{
	font-size: 100px;
	color:#272F56;
	font-weight: bold;
	padding-bottom: 25px;
}
#description_of_program{
	font-size: 70px;
	margin-top: 60px;
	padding:25px;
	color:white;
	background-color:#A39CD5;
	border-radius: 50px;
	-webkit-box-shadow: 0px 0px 100px -23px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 100px -23px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 100px -23px rgba(0, 0, 0, 0.3);
}
#image_of_program{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}
#image_of_program img{
	width:400px;
}
.links_on_program{
	margin-top: 80px;
	margin-bottom: 40px;
	display:flex;
	justify-content: space-around;
}
 #linkp a{
	transition-duration: 0.3s;
	font-size: 50px;
	padding: 15px;
	color:#EC345F;
	border-radius: 25px;
	background-color:white;
	border: 10px solid #EC345F;
}

 #linkp a:hover {
	transition-duration: 0.3s;
	color:white;
	background-color:#EC345F;
	-webkit-box-shadow: 0px 0px 100px -11px rgba(236, 52, 95, 0.27);
	-moz-box-shadow: 0px 0px 100px -11px rgba(236, 52, 95, 0.27);
	box-shadow: 0px 0px 100px -11px rgba(236, 52, 95, 0.27);
	border:none;
}