
<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'Main_page/css/MainCss.css' %}"/>
  <link rel="icon" href="{% static 'Main_page/images/CLUBImg/GIDACLUBSITE.png' %}" type="image/png" sizes="180x180" >
  <title>GIDA CLUB</title>
</head>
<body>
  <div class="container">
    <header>
      <div class="head">
        <div class="bottom_of_head">
          <div class="name_of_club"><img src="{% static 'Main_page/images/CLUBImg/GIDACLUBLOGO.png' %}"></div>
            <div class="menu_burger">
                <div class="list_of_links_screen">
                    <div id="screen_b"><a href="{% url 'about_us' %}" id="one_of_list_screen">О НАС</a></div>
                    <div id="screen_b"><a href="{% url 'our_works' %}" id="one_of_list_screen">РАБОТЫ</a></div>
                    <div id="screen_b"><a href="{% url 'our_games' %}"class="disable_screen">ИГРЫ</a></div>
                    <div id="screen_b"><a href="{% url 'statistics' %}" id="one_of_list_screen">СТАТИСТИКА</a></div>
                    <div id="screen_b"><a href="{% url 'documentation' %}" id="one_of_list_screen">ДОКУМЕНТАЦИЯ</a></div>
                    <div id="screen_b"><a href="{% url 'telegram_bot' %}" id="one_of_list_screen">TELEGRAM BOT</a></div>
                </div>
                <input type="button" class="button_links" value="M" onclick="workWithCB.ShowMenu()"/></input>
                <div class="list_of_links">
                  <ul>
                    <li><a href="{% url 'about_us' %}" id="one_of_list">О НАС</a></li>
                    <li><a href="{% url 'our_works' %}" id="one_of_list">РАБОТЫ</a></li>
                    <li><a href="{% url 'our_games' %}"class="disable">ИГРЫ</a></li>
                    <li><a href="{% url 'statistics' %}" id="one_of_list">СТАТИСТИКА</a></li>
                    <li><a href="{% url 'documentation' %}" id="one_of_list">ДОКУМЕНТАЦИЯ</a></li>
                    <li><a href="{% url 'telegram_bot' %}" id="one_of_list">TELEGRAM BOT</a></li>
                  </ul>
                </div>
            </div>
        </div>
      </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
      <div class="podval">
        <div class="top_podval">
        </div>
        <div class="bottom_podval">
          <div class="transition">
            <div id="past">
              <a href=""></a>
            </div>
            <div class="dot">...</div>
            <div id="future">
              <a href=""></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
    <script type="text/javascript">
      var for_data_1 = {{typeOfModeling}};
      var for_data_2 = {{typeOfModelingTB}};
      var for_data_3 = {{Using}};
      var for_data_4 = {{UsingTB}};
    </script>
  
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <script type="text/javascript" src="{% static 'Main_page/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'Main_page/js/Graphics.js' %}"></script>
</body>
</html>
