{% extends 'Main_page/base.html' %}
{% load static %}


{% block content %}
    <div class="content">
      <div class="name_of_page">{{name_of_page}}</div>
      <div class="block_of_games">
        {% for i in games %}
          <div class="gamesblock">
              <div id="image_of_game"><img src="{% static 'Main_page/images/OurGamesImg/KaisaHuman.png' %}" alt=""></div>
            <div class="text_of_game">
              <div id="name_of_game">{{i.game.name|upper}}</div>
              <div id="link_on_game"><a href="{{i.game.link}}">Google Play</a></div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
