{% extends 'Main_page/base.html' %}
{% load static %}


{% block content %}
    <div class="content">
      <div class="name_of_page">{{name_of_page}}</div>
      <div class="images">
        <div id="el1"><img src="{% static 'Main_page/images/OurWorks/Jinx.png'%}"></div>
        <div id="el1"><img src="{% static 'Main_page/images/OurWorks/KaisaHuman.png'%}"></div>
        <div id="el1"><img src="{% static 'Main_page/images/OurWorks/Neon.png'%}"></div>
        <div id="el1"><img src="{% static 'Main_page/images/OurWorks/Kaisa.png'%}"></div>
        <div id="el1"><img src="{% static 'Main_page/images/OurWorks/Jinxs.png'%}"></div>
        <div id="el1"><img src="{% static 'Main_page/images/OurWorks/Arcane.png'%}"></div>
        <div id="el1"><img src="{% static 'Main_page/images/OurWorks/darkSWord.png'%}"></div>
      </div>
    </div>
{% endblock %}
