{% extends 'Main_page/base.html' %}
{% load static %}


{% block content %}
    <div class="content">
      <div class="name_of_page">{{name_of_page}}</div>
      <div class="images">
        <div id="el1"><img src="{% static 'Main_page/images/OurWorksImg/Jinx.png'%}"></div>
        <div id="el1"><img src="{% static 'Main_page/images/OurWorksImg/KaisaHuman.png'%}"></div>
        <div id="el1"><img src="{% static 'Main_page/images/OurWorksImg/Neon.png'%}"></div>
        <div id="el1"><img src="{% static 'Main_page/images/OurWorksImg/Kaisa.png'%}"></div>
        <div id="el1"><img src="{% static 'Main_page/images/OurWorksImg/Jinxs.png'%}"></div>
        <div id="el1"><img src="{% static 'Main_page/images/OurWorksImg/Arcane.png'%}"></div>
        <div id="el1"><img src="{% static 'Main_page/images/OurWorksImg/darkSWord.png'%}"></div>
      </div>
    </div>
{% endblock %}
